# Temporary files
*~

# carpetes a ometre
omit
__pycache__

simulaciodades/__pycache__
simulaciodades/omit
simulaciodades/versions
simulaciodades/matricules/*.png
simulaciodades/data/*.csv
simulaciodades5

simulacioparking/__pycache__
simulacioparking/omit
simulacioparking/versions
simulacioparking/data/*.csv

clusteringsklearn/__pycache__
clusteringsklearn5

generarinforme/versions

# fitxers ocults
.coverage
.coveragerc

# altres
MILLORAR.txt
