# Temporary files
*~

# carpetes a ometre
omit
__pycache__

simulaciodades/__pycache__
simulaciodades/omit
simulaciodades/versions
simulaciodades/matricules/*.png
simulaciodades/data/*.csv
simulaciodades5

simulacioparking/__pycache__
simulacioparking/omit
simulacioparking/versions
simulacioparking/data/*.csv

clusteringsklearn/__pycache__
clusteringsklearn5

generarinforme/versions

MLflow/OA1/__pycache__
MLflow/OA1/proves
MLflow/OA1/sklearnmlflow5.py
MLflow/OA1/mlflowtracking-K5.py
MLflow/OA1/searchexp-K5.py
MLflow/OA1/mlruns
MLflow/OA1/data/*.csv

MLflow/OA2/temp_model
MLflow/OA2/__pycache__
MLflow/OA2/mlruns
MLflow/OA2/data/*.csv
MLflow/OA2/activitat.py
MLflow/OA2/hubble.py

# fitxers ocults
.coverage
.coveragerc

# altres
MILLORAR.txt
